<div class="comments">
    {% for comment_dict in comments %}
    <!-- Comments -->
    <div class="comment-wrap" data-commentid="{{ comment_dict.comment.id }}" data-replyto="" data-type="comment" data-articleid="{{ comment_dict.article.id }}">
          <!-- Author -->
          <div class="media mb-3">
            <div class="d-flex mr-3">
              <img class="img-fluid u-avatar rounded-circle" src="{% static 'blog/images/100x100/img3.jpg' %}" alt="Image Description">
            </div>
            <div class="media-body">
              <h4 class="d-inline-block mb-1">
                <a class="d-block h6 mb-0" href="#">{{ comment_dict.comment.user.username }}</a>
              </h4>
              <small class="d-block text-muted">{{ comment_dict.comment.creationTime|timesince }}</small>
            </div>
          </div>
          <!-- End Author -->

          <p>{{ comment_dict.comment.content }}</p>

          <!-- Likes/Reply -->
          <ul class="list-inline d-flex">
            <li class="list-inline-item">
              <a class="text-secondary appreciate" href="javascript:void(0)">
                <span class="count">{{ comment_dict.comment.appreciate }}</span>
                <span class="far fa-thumbs-up ml-1"></span>
              </a>
            </li>
            <li class="list-inline-item ml-3">
              <a class="text-secondary dislike" href="javascript:void(0)">
                <span class="count">{{ comment_dict.comment.dislike }}</span>
                <span class="far fa-thumbs-down ml-1"></span>
              </a>
            </li>
            <li class="list-inline-item ml-auto">
              <a class="text-secondary to-reply" href="javascript:void(0)" {% if request.user.is_anonymous %}role="button" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false"
                 data-unfold-event="click" data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent"
                 data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                 data-unfold-duration="500"{% endif %}>
                <span class="far fa-comments mr-1"></span>
                回复
              </a>
            </li>
          </ul>
          <div class="reply-box" style="display: none">
              <textarea class="reply mb-2" rows="5" style="width: 100%;" placeholder="请输入您的回复..."></textarea>
              <div class="text-right btn-group-sm">
                  <button type="button" class="btn-cancel btn btn-outline-secondary" style="line-height: .5">取消</button>&nbsp;
                  <button type="button" class="btn-reply btn btn-outline-primary" style="line-height: .5">回复</button>
              </div>
          </div>
    </div>
    <hr class="my-3">
    <!-- End Comments -->

    <!-- Replies -->
    {% for reply in comment_dict.replies %}
    <div class="blog-article-message" data-commentid="{{ comment_dict.comment.id }}" data-replyto="{{ reply.id }}" data-type="reply" data-articleid="{{ article.id }}">
          <!-- Author -->
          <div class="media mb-3">
            <div class="d-flex mr-3">
              <img class="img-fluid u-avatar rounded-circle" src="{% static 'blog/images/100x100/img3.jpg' %}" alt="Image Description">
            </div>
            <div class="media-body">
              <h4 class="d-inline-block mb-1">
                <a class="d-block h6 mb-0" href="https://htmlstream.com/preview/front-v1.2/html/blog/single-article-classic.html#">{{ reply.user.username }}</a>
              </h4>
              <small class="d-block text-muted">{{ reply.creationTime|timesince }}</small>
            </div>
          </div>
          <!-- End Author -->

          <p><b>@{{ comment_dict.comment.user.username }}: </b>{{ reply.content }}</p>

          <!-- Likes/Reply -->
          <ul class="list-inline d-flex">
            <li class="list-inline-item">
              <a class="text-secondary appreciate" href="javascript:void(0)">
                <span class="count">{{ reply.appreciate }}</span>
                <span class="far fa-thumbs-up ml-1"></span>
              </a>
            </li>
            <li class="list-inline-item ml-3">
              <a class="text-secondary dislike" href="javascript:void(0)">
                <span class="count">{{ reply.dislike }}</span>
                <span class="far fa-thumbs-down ml-1"></span>
              </a>
            </li>
            <li class="list-inline-item ml-auto">
              <a class="text-secondary to-reply" href="javascript:void(0)" {% if request.user.is_anonymous %}role="button" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false"
                 data-unfold-event="click" data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent"
                 data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                 data-unfold-duration="500"{% endif %}>
                <span class="far fa-comments mr-1"></span>
                回复
              </a>
            </li>
          </ul>
          <div class="reply-box" style="display: none">
              <textarea class="reply mb-2" rows="5" style="width: 100%;" placeholder="请输入您的回复..."></textarea>
              <div class="text-right btn-group-sm">
                  <button type="button" class="btn-cancel btn btn-outline-secondary" style="line-height: .5">取消</button>&nbsp;
                  <button type="button" class="btn-reply btn btn-outline-primary" style="line-height: .5">回复</button>
              </div>
          </div>
    </div>
    <hr class="my-3">
    {% endfor %}
    <!-- End Replies -->
   {% endfor %}


    <a class="btn btn-block u-btn-primary--air transition-3d-hover" href="#">加载更多</a>
</div>