<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md {% block header_css %}{% endblock %}" data-header-fix-moment="500" data-header-fix-effect="slide">
{% include 'blog/includes/search_push_top.html' %}
<div class="u-header__section">
  {% include 'blog/includes/topbar.html' %}
  <!-- End Topbar -->
  <div id="logoAndNav" class="container">
    <!-- Nav -->
    <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
      <!-- Logo -->
      <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="/blog/" aria-label="Front">
        <img src="{% static 'blog/images/svg/logo.svg' %}" alt="Logo">
      </a>
      <!-- End Logo -->

      <!-- Responsive Toggle Button -->
      <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
        <span id="hamburgerTrigger" class="u-hamburger__box">
          <span class="u-hamburger__inner"></span>
        </span>
      </button>
      <!-- End Responsive Toggle Button -->

      <!-- Navigation -->
      <div id="navBar" class="collapse navbar-collapse py-0">
        <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
          <!-- Home -->
          <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
            <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0" href="javascript:;" aria-haspopup="false" aria-expanded="false">首页</a>
          </li>
          <!-- End Home -->

          <!-- Categories -->
            {% load category_popup %}
            {% category_popup %}
          <!-- End Categories -->

           {% include 'blog/includes/documents.html' %}


           {% include 'blog/includes/reptile.html' %}
          {% include 'blog/includes/account.html' %}

          <!-- Button -->
          <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
            <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">
              收藏夹
            </a>
          </li>
          <!-- End Button -->
        </ul>
      </div>
      <!-- End Navigation -->
    </nav>
    <!-- End Nav -->
  </div>
</div>
</header>
<!-- ========== END HEADER ========== -->