<aside id="sidebarContent" class="u-sidebar u-unfold--css-animation u-unfold--hidden" aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
      <div class="u-sidebar__container">
        <div class="u-header-sidebar__footer-offset">
          <!-- Toggle Button -->
          <div class="d-flex align-items-center pt-4 px-7">
            <button type="button" class="close ml-auto"
                    aria-controls="sidebarContent"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-unfold-event="click"
                    data-unfold-hide-on-scroll="false"
                    data-unfold-target="#sidebarContent"
                    data-unfold-type="css-animation"
                    data-unfold-animation-in="fadeInRight"
                    data-unfold-animation-out="fadeOutRight"
                    data-unfold-duration="500">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- End Toggle Button -->

          <!-- Content -->
          <div class="js-scrollbar u-sidebar__body">
            <div class="u-sidebar__content u-header-sidebar__content">
              <form class="js-validate" onsubmit="return false;">
                <!-- Login -->
                <div id="login" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">用户登录</h2>
                    <p>登录后才能评论和点赞哦.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-user u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="text" class="form-control u-form__input" id="lg_username" name="lg_username" required
                             placeholder="请输入用户名或邮箱"
                             aria-label="Username"
                             data-msg="请输入用户名或邮箱"
                             data-error-class="u-has-error"
                             data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->
                  <div class="js-form-message mb-2">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-lock u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="password" class="form-control u-form__input" id="lg_password" name="lg_password" required
                             placeholder="请输入密码"
                             aria-label="Password"
                             data-msg="请输入密码"
                             data-error-class="u-has-error"
                             data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <div class="clearfix mb-4">
                    <a class="js-animation-link float-right small u-link-muted" href="javascript:;"
                       data-target="#forgotPassword"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">忘记密码?</a>
                  </div>

                  <div class="mb-2">
                    <button type="button" class="login-btn btn btn-block btn-primary u-btn-primary transition-3d-hover">登录</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">您还没有账号?</span>
                    <a class="js-animation-link small" href="javascript:;"
                       data-target="#signup"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">注册
                    </a>
                  </div>

                  <div class="text-center">
                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                  </div>

{#                  <!-- Login Buttons -->#}
{#                  <div class="d-flex">#}
{#                    <a class="btn btn-block btn-sm u-btn-facebook--air transition-3d-hover mr-1" href="#">#}
{#                      <span class="fab fa-facebook-square mr-1"></span>#}
{#                      Facebook#}
{#                    </a>#}
{#                    <a class="btn btn-block btn-sm u-btn-google--air transition-3d-hover ml-1 mt-0" href="#">#}
{#                      <span class="fab fa-google mr-1"></span>#}
{#                      Google#}
{#                    </a>#}
{#                  </div>#}
{#                  <!-- End Login Buttons -->#}
                </div>

                <!-- Signup -->
                <div id="signup" style="display: none; opacity: 0;" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">用户注册</h2>
                    <p>3分钟快速注册.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-user u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="text" class="form-control u-form__input" id="reg_username" name="reg_username" required
                             placeholder="请输入用户名"
                             data-msg-required = "输入用户名"
                             aria-label="Username"
                             data-error-class="u-has-error"
                             data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-lock u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="password" class="form-control u-form__input" id="reg_password" name="reg_password" required
                             placeholder="请输入密码"
                             data-msg-required="请输入密码"
                             aria-label="Password"
                             data-error-class="u-has-error"
                             data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-key u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="password" class="form-control u-form__input" id="reg_confirm_password" name="reg_confirm_password" required
                             placeholder="请确认您的密码"
                             data-msg-required="请再次确认密码"
                             aria-label="Confirm Password"
                             data-error-class="u-has-error"
                             data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <div class="mb-2">
                    <button type="button" class="register-btn btn btn-block btn-primary u-btn-primary transition-3d-hover">注册</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">已经有账号了?</span>
                    <a class="js-animation-link small" href="javascript:;"
                       data-target="#login"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">登录
                    </a>
                  </div>

                  <div class="text-center">
                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                  </div>

{#                  <!-- Login Buttons -->#}
{#                  <div class="d-flex">#}
{#                    <a class="btn btn-block btn-sm u-btn-facebook--air transition-3d-hover mr-1" href="#">#}
{#                      <span class="fab fa-facebook-square mr-1"></span>#}
{#                      Facebook#}
{#                    </a>#}
{#                    <a class="btn btn-block btn-sm u-btn-google--air transition-3d-hover ml-1 mt-0" href="#">#}
{#                      <span class="fab fa-google mr-1"></span>#}
{#                      Google#}
{#                    </a>#}
{#                  </div>#}
{#                  <!-- End Login Buttons -->#}
                </div>
                <!-- End Signup -->

                <!-- Forgot Password -->
                <div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">找回密码.</h2>
                    <p>输入您绑定的邮箱，我们将会给您发送一封邮件.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fas fa-envelope u-inner-form__text"></span>
                        </span>
                      </div>
                      <input type="email" class="form-control u-form__input" name="email" required
                             placeholder="邮箱地址"
                             aria-label="Your email"
                             data-msg="请输入有效的邮箱地址."
                             data-error-class="u-has-error"
                             data-success-class="u-has-success">
                    </div>
                  </div>
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fas fa-key u-inner-form__text"></span>
                        </span>
                      </div>
                      <input type="text" class="form-control u-form__input" name="captcha" required autocomplete="off"
                             placeholder="验证码"
                             aria-label="Your captcha"
                             data-msg="请输入验证码."
                             data-error-class="u-has-error"
                             data-success-class="u-has-success">
                    </div>
                  </div>
                  <div class="js-form-message mb-4">
                        <img src="{% url 'blog:user-gen-captcha' %}" onclick="this.src = this.src.split('?')[0] + '?' + new Date().getTime();"/>
                  </div>

                  <!-- End Input -->

                  <div class="mb-2">
                    <button id="send-email" type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">发送</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">记得密码?</span>
                    <a class="js-animation-link small" href="javascript:;"
                       data-target="#login"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">登录
                    </a>
                  </div>
                </div>
                <!-- End Forgot Password -->
              </form>
            </div>
          </div>
          <!-- End Content -->
        </div>

        <!-- Footer -->
        <footer class="u-sidebar__footer u-sidebar__footer--account">
          <ul class="list-inline mb-0">
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="../pages/privacy.html">Privacy</a>
            </li>
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="../pages/terms.html">Terms</a>
            </li>
            <li class="list-inline-item">
              <a class="u-sidebar__footer--account__text" href="../pages/help.html">
                <i class="fa fa-info-circle"></i>
              </a>
            </li>
          </ul>

          <!-- SVG Background Shape -->
          <div class="position-absolute-bottom-0">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 300 126.5" style="margin-bottom: -5px; enable-background:new 0 0 300 126.5;" xml:space="preserve">
              <path class="u-fill-primary" opacity=".6" d="M0,58.9c0-0.9,5.1-2,5.8-2.2c6-0.8,11.8,2.2,17.2,4.6c4.5,2.1,8.6,5.3,13.3,7.1C48.2,73.3,61,73.8,73,69
                c43-16.9,40-7.9,84-2.2c44,5.7,83-31.5,143-10.1v69.8H0C0,126.5,0,59,0,58.9z"/>
              <path class="u-fill-primary" d="M300,68.5v58H0v-58c0,0,43-16.7,82,5.6c12.4,7.1,26.5,9.6,40.2,5.9c7.5-2.1,14.5-6.1,20.9-11
                c6.2-4.7,12-10.4,18.8-13.8c7.3-3.8,15.6-5.2,23.6-5.2c16.1,0.1,30.7,8.2,45,16.1c13.4,7.4,28.1,12.2,43.3,11.2
                C282.5,76.7,292.7,74.4,300,68.5z"/>
              <circle class="u-fill-danger" cx="259.5" cy="17" r="13"/>
              <circle class="u-fill-primary" cx="290" cy="35.5" r="8.5"/>
              <circle class="u-fill-success" cx="288" cy="5.5" r="5.5"/>
              <circle class="u-fill-warning" cx="232.5" cy="34" r="2"/>
            </svg>
          </div>
          <!-- End SVG Background Shape -->
        </footer>
        <!-- End Footer -->
      </div>
    </div>
  </aside>