{# 对评论列表进行渲染 传入参数num: 总的评论条数, comments: 评论和回复的字典集合 #}

{# Comment Section #}
<div class="container u-space-2">
  <div class="w-lg-60 mx-auto">

    <header class="row justify-content-between align-items-center">
      <div class="col-6">
        <h4 class="h6 mb-0">共{{ total_num }}条评论</h4>
      </div>
{#      <div class="col-6 col-sm-4 col-md-3">#}
{#        <select class="custom-select border-0">#}
{#          <option selected="">排序</option>#}
{#          <option value="comments1">热门评论</option>#}
{#          <option value="comments2">最新评论</option>#}
{#        </select>#}
{#      </div>#}
    </header>


    <hr class="mt-2 mb-6">

    <div class="comments">
            {% for comment_dict in comments %}
                {# Comment Item #}
                    {% include 'blog/includes/comment_item.html' with item=comment_dict %}
                {# End Comment Item #}


            {% endfor %}
    </div>

    <a id="load-more" class="btn btn-block u-btn-primary--air transition-3d-hover" href="javascript:void(0)" data-page="2">加载更多</a>
  </div>
</div>

{# End Comment Section #}