<!-- Home - Mega Menu -->
<div class="hs-mega-menu u-header__sub-menu w-100 u-header__mega-menu-wrapper-v2 animated hs-position-left fadeOut" aria-labelledby="homeMegaMenu" style="display: none;">
  <div class="row p-0 mr-0">
    <div class="col-lg-6 pr-0">
      <!-- Banner Image -->
      <div class="d-none d-lg-block u-header__banner-v1" data-bg-img-src="{% static 'blog/images/750x750/img1.jpg' %}">
        <div class="w-100 text-center u-header__banner-v1-content u-content-centered-y p-4">
          <div class="mb-4">
            <strong class="d-block u-header__banner-v1-title mb-2">Branding Works</strong>
            <span class="u-header__banner-v1-text">Experience a level of our quality in both design &amp; customization works.</span>
          </div>
          <a class="btn btn-primary u-btn-primary btn-sm transition-3d-hover" href="https://htmlstream.com/preview/front-v1.2/html/blog/classic-left-sidebar.html#">Learn More <span class="fa fa-angle-right ml-2"></span></a>
        </div>
      </div>
      <!-- End Banner Image -->
    </div>

    <div class="col-lg-6 u-header__mega-menu-wrapper-v3">
      <div class="row u-header__mega-menu-wrapper-v1">
        <div class="col-sm-6">
          <strong class="d-block mb-2">Classic</strong>

          <!-- Links -->
          <ul class="list-unstyled mb-4">
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/index.html">Classic Agency</a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/classic-crypto.html">Classic Crypto</a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/classic-business.html">Classic Business</a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/classic-marketing.html">Classic Marketing</a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/classic-consulting.html">Classic Consulting</a></li>
          </ul>
          <!-- End Links -->

          <strong class="d-block mb-2">Corporate</strong>

          <!-- Links -->
          <ul class="list-unstyled mb-4">
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/corporate-agency.html">Corporate Agency</a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/corporate-start-up.html">Corporate Start-Up</a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/corporate-business.html">Corporate Business <span class="badge badge-success ml-1">New</span></a></li>
          </ul>
          <!-- End Links -->
        </div>

        <div class="col-sm-6">
          <strong class="d-block mb-2">Landing</strong>

          <!-- Links -->
          <ul class="list-unstyled mb-4">
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/landing-house.html">Landing House <span class="badge badge-success ml-1">New</span></a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/landing-job.html">Landing Job <span class="badge badge-success ml-1">New</span></a></li>
          </ul>
          <!-- End Links -->

          <strong class="d-block mb-2">Blog</strong>

          <!-- Links -->
          <ul class="list-unstyled mb-4">
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/blog-agency.html">Blog Agency</a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/blog-start-up.html">Blog Start-Up</a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/blog-business.html">Blog Business</a></li>
          </ul>
          <!-- End Links -->

          <strong class="d-block mb-2">Portfolio</strong>

          <!-- Links -->
          <ul class="list-unstyled u-list">
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/portfolio-agency.html">Portfolio Agency</a></li>
            <li><a class="nav-link u-list__link py-2 px-0" href="https://htmlstream.com/preview/front-v1.2/html/home/portfolio-profile.html">Portfolio Profile</a></li>
          </ul>
          <!-- End Links -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Home - Mega Menu -->