{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Title -->
      <title>{% block title %}{% endblock %}</title>
      <!-- Required Meta Tags Always Come First -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'blog/images/svg/favicon.png' %}">
      <!-- Google Fonts -->
      <link href="{% static 'blog/css/google.font.css' %}" rel="stylesheet">
      <!-- CSS Global Compulsory -->
      <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
      <!-- CSS Implementing Plugins -->
      {% block cssPlugins %}{% endblock %}
      <!-- CSS Front Template -->
      <link rel="stylesheet" href="{% static 'blog/css/front.css' %}">
</head>
<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  {% block container %}
      {% block header %}{% include 'blog/includes/header.html' with theme='regular' %}{% endblock %}
      {% block main %}{% endblock %}
  {% endblock %}
  {% include 'blog/includes/aside.html' %}
  {% include 'blog/includes/footer.html' %}
  <!-- Go to Top -->
  <a class="js-go-to u-go-to animated" href="#" data-position="{&quot;bottom&quot;: 15, &quot;right&quot;: 15 }" data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown" style="display: none; position: fixed; bottom: 15px; right: 15px; opacity: 0;">
    <span class="fa fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- JS Global Compulsory -->
  <script src="{% static 'blog/js/jquery.min.js' %}"></script>
  <script src="{% static 'blog/js/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'blog/js/popper.min.js' %}"></script>
  <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/js/jquery.mousewheel.min.js' %}"></script>
  <script src="{% static 'blog/plugins/layer/layer.js' %}"></script>

  {% block jsPlugins %}{% endblock %}

  <!-- JS Front -->
  <script src="{% static 'blog/js/hs.core.js' %}"></script>
  <script src="{% static 'blog/js/hs.header.js' %}"></script>
  <script src="{% static 'blog/js/hs.unfold.js' %}"></script>
  <script src="{% static 'blog/js/hs.malihu-scrollbar.js' %}"></script>
  <script src="{% static 'blog/js/hs.validation.js' %}"></script>
  <script src="{% static 'blog/js/hs.focus-state.js' %}"></script>
  <script src="{% static 'blog/js/hs.show-animation.js' %}"></script>
  <script src="{% static 'blog/js/hs.sticky-block.js' %}"></script>
  <script src="{% static 'blog/js/hs.instagram.js' %}"></script>
  <script src="{% static 'blog/js/hs.scroll-effect.js' %}"></script>
  <script src="{% static 'blog/js/hs.slick-carousel.js' %}"></script>
  <script src="{% static 'blog/js/hs.go-to.js' %}"></script>
  <script src="{% static 'blog/js/jquery-1.4.1.cookie.js' %}"></script>
  <script src="{% static 'blog/js/jb.aside.js' %}"></script>
  <script src="{% static 'blog/js/jb.leave-message.js' %}"></script>
  <!-- JS Page -->
  <script id="init-script">
      $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
      });
  </script>
  {% block pageScripts %}{% endblock %}
</body>
